{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Product</title>
    <link rel="stylesheet" href="{% static 'static/product.css' %}">
    <script rel="script" src="{% static 'js/product.js' %}"></script>
{% endblock head %}
{% block content %}
    <div class="container main">
        {% if product %}
            <div class="product">
                <div class="leftCol">
                    <div class="rowq">
                        <div class="columnq small-11q small-centeredq">
                            <div class="slider slider-single">
                                {% for i in images %}
                                    <div>
                                        <img src="{{ i.image.url }}">
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="slider slider-nav">
                                {% for i in images %}
                                    <div class="item">
                                        <img src="{{ i.image.url }}">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rightCol">
                    <h1>{{ product.name }}</h1>
                    <p class="price">${{ product.price }}</p>
                    <p>Available Online</p>
                    <p>SKU</p>
                    <p>Brand</p>
                    <p>Caliber</p>
                </div>
            </div>
            <div class="buy_btn">
                <div>Amount</div>
                <input class="amount" value="1" type="number" id="amount">
                <button class="btn btn-primary" onclick="buy({{ product.id }})">Buy</button>
            </div>
            <div class="description">
                <h2>Description</h2>
                <p>{{ product.description }}</p>
                <hr>
                <div>
                    <ul>
                        <li>Category : {{ product.category }}</li>
                        <li>Type : AR Pistol</li>
                        <li>Action : Semi-Automatic</li>
                        <li>Caliber : 223 Remington/5.56 NATO</li>
                        <li>Barrel Length : 10.3"</li>
                        <li>Capacity : 30+1</li>
                        <li>Safety : Ambidextrous</li>
                        <li>Sights : Flip-Up Front and Rear</li>
                        <li>Weight : 5.7 lbs</li>
                        <li>Metal Finish : Black Hardcoat Anodized/Black Melonite</li>
                    </ul>
                </div>
            </div>
            <h2>Commentary</h2>
            {% if auth %}
                <div>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.comment_text }}
                        <button class="btn btn-primary">Comment</button>
                    </form>
                </div>
            {% endif %}
            <br>
            {% if auth %}
                {% for i in comments %}
                    <div>
                        {{ i.comment_author.login }}
                        {{ i.comment_text }}
                    </div>
                {% endfor %}
            {% else %}
                Auth or regist
                <br>
                <a href="{% url 'auth' %}">Sign in</a>
                <a href="{% url 'reg' %}">Sign up</a>
            {% endif %}
            <div class="notification" id="notification">
                <img onclick="closeNotif()" src="{% static "media/img/icon_close.png" %}">
                <div>Product has been added on your BASKET</div>
            </div>
        {% endif %}
    </div>
    {% csrf_token %}
    <script rel="script">
        function closeNotif(){
            $("#notification").hide();
        }
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        var csrftoken = getCookie('csrftoken');

        function buy(id) {
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            let amount = $("#amount").val();
            $.ajax({
                url:"{% url 'buy' %}",
                type:'post',
                data:{id:id, amount:amount},
                success:function (msg) {
                    $("#notification").show();
                }
            })
        }

    </script>
{% endblock content %}
