.header {
    display: flex;
    justify-content: space-around;
    align-self: center;
    margin-bottom: 10px;
}
.product {
    display: flex;
    justify-content: space-around;
    align-self: center;
}
.name {
    display: flex;
    flex: 2;
}
.price {
    display: flex;
    flex: 1;
}
.count {
    display: flex;
    flex: 1;
}
.img {
    width: 90px;
    height: 90px;
    margin-right: 10px;
}
.img img {
    width: 100%;
}
input {
    width: 40px;
    height: 20px;
}