{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Gun Baron</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'main' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                    <a class="dropdown-item" href="/products/1">Gun</a>

                    <a class="dropdown-item" href="/products/2">Air</a>

                    <a class="dropdown-item" href="/products/3">Land</a>

                    <a class="dropdown-item" href="/products/4">Navy</a>

                    <a class="dropdown-item" href="/products/5">Mercenary</a>

                    <a class="dropdown-item" href="/products/6">Handguns</a>

                    <a class="dropdown-item" href="/products/7">Rifles</a>

                    <a class="dropdown-item" href="/products/8">Hunting rifles</a>

                    <a class="dropdown-item" href="/products/9">Collector guns</a>

                </div>
            </li>
        </ul>
    </div>
    <div class="flex-column">
            <a href="{% url 'basket' %}">
                <img class="basket" src="{% static 'media/img/basket.png' %}" style="width: 40px; height: 40px" onclick="basket()">
            </a>
        {% if auth %}
            <a class="btn btn-outline-primary">My Profile</a>
            <a href="{% url 'logout' %}">Log out</a>
        {% else %}
            <a href="{% url 'auth' %}">Sign in</a>
            <a href="{% url 'reg' %}">Sign up</a>            
        {% endif %}
    </div>
</nav>